body{
	margin: 0px 10px auto 10px;
    text-align:center;
    font-family: century gothic;
}
.header{
    padding: 25px;
    color: white;
    font-size: 200%;
	background-color: yellowgreen;
	margin-bottom: 10px;
	text-shadow: 2px 2px 2px red;
	border-radius: 10px;
}
p{
	text-align: center;
	margin: 10px;
}
.text{
	border-radius: 10px;

}
.text:hover{
	box-shadow: 5px 5px 5px skyblue;

}
.btn{
	display: block ;
	text-align: center;
	background-color: #36f7d7;
	color: white;
	font-size: 150%;
	margin: 10px auto;
	padding: 5px 15px 5px 15px;
	border-radius: 10rem;
	border-style: none;
}
.btn:hover{
background-color: #f2a7a7;
}
