<HTML>
<head>
    <TITLE>Game</TITLE>
    <link rel="stylesheet" href="../static/stylesheet.css">
</head>
<body>
    <div class="header container"> 
    <p align="center">CONVERT TEXT TO AUDIO</p>
    </div>
    <div class="main">
    <form action="/converted" method="post">
        <textarea class="text" cols="30" rows="10" name="input_text"> Input your text here...... </textarea>
        <button class="btn" name="form" value="submit">Submit</button>
    </form>
    </div>
    <footer>
        <div class="center">
             Copyright &copy: www.texttospeech.com|All Rights Reserved
        </div>
       </footer>
</body>
</HTML>